*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body
{
background-color: black;
display:flex;
justify-content: center;
align-items: center;
height:100vh;
}
div
{
border:3px solid orange;
height:50px;
width:120px;
 display: flex;
justify-content: center;
align-items: center;
}
 p
{
    color:orange;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 1.05rem;
}
div:hover{
    box-shadow: 0px 3px 5px greenyellow;
    border: 3px solid greenyellow;
    transform: translateY(-2px);
    transition: 90ms linear;
}
div:hover p{
    color: #fff;
}

